.customBtn {
  display: block;
  color: #ffffff;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fed136;
  position: relative;
  /*word-wrap: break-word;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;*/
  /*border: thin solid #888;*/
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
.customBtn:hover {
  cursor: pointer;
}
.google-signin{
  background: url('./assets/img/btn_google_signin_light_normal_web.png') transparent 0px 100% no-repeat fixed center;
  /*display: inline-flex;;*/
  /*vertical-align: middle;*/
  width: 191px;
  height: 42px;;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('./assets/img/btn_google_light_normal_ios.svg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 8px solid #fed136;
  border-radius: 5px;
}
span.iconF {
  background: url('./assets/img/FB-f-Logo.png') ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 8px solid #fed136;
  border-radius: 5px;
}
.buttonText {
  font-size: .875rem;
  font-weight: bold;
  color: white;
  word-wrap: break-word;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}
a.customBtn{
  color : #ffffff;
}
a.customBtn:hover, a:active, a:link, a:visited {
   text-decoration:none;
   color : #ffffff; /* for example */
}
.or {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.or:before{
  position: absolute;
  display: inline-block;
  content: '';
  border-style: solid;
  border-width: 0 0 1px 0;
  left: 0;
  top: 50%;
  width: 100%;
  border-color: rgb(171, 157, 157);
}

.txt{
  background-color:#fff;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0 0.8em;
  margin: 0;
  color: rgb(171, 157, 157);
}
